flows.json
[{"id":"4e074cc4.8b7374","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d8f5d8b7.5e55d8","type":"inject","z":"4e074cc4.8b7374","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hi","payloadType":"str","x":120,"y":100,"wires":[["735db733.4225a8"]]},{"id":"9a0bbada.4d81b8","type":"debug","z":"4e074cc4.8b7374","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":180,"wires":[]},{"id":"735db733.4225a8","type":"watson-conversation-v1","z":"4e074cc4.8b7374","name":"","workspaceid":"a3d9893e-673d-4339-b0ec-083ebf082c8e","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/1abeef60-000e-4fd4-9bd6-96e040a83a03","timeout":"","optout-learning":false,"x":350,"y":120,"wires":[["bb7979ad.2cbf98"]]},{"id":"bb7979ad.2cbf98","type":"function","z":"4e074cc4.8b7374","name":"Parsing","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":160,"wires":[["9a0bbada.4d81b8","62ed9389.b50a8c"]]},{"id":"344e1f91.d7f95","type":"ui_form","z":"4e074cc4.8b7374","name":"","label":"","group":"973c97b9.261bf8","order":1,"width":0,"height":0,"options":[{"label":"Enter your Input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":220,"wires":[["576c7eb3.bceaf"]]},{"id":"576c7eb3.bceaf","type":"function","z":"4e074cc4.8b7374","name":"Input Parsing","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":240,"wires":[["735db733.4225a8","15a659f7.d76ac6"]]},{"id":"15a659f7.d76ac6","type":"ui_text","z":"4e074cc4.8b7374","group":"973c97b9.261bf8","order":2,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-left","x":460,"y":300,"wires":[]},{"id":"62ed9389.b50a8c","type":"ui_text","z":"4e074cc4.8b7374","group":"973c97b9.261bf8","order":3,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-left","x":650,"y":260,"wires":[]},{"id":"973c97b9.261bf8","type":"ui_group","z":"","name":"Chat Bot","tab":"32c97db9.a74212","order":1,"disp":true,"width":8,"collapse":false},{"id":"32c97db9.a74212","type":"ui_tab","z":"","name":"Movie Ticket Book","icon":"dashboard","disabled":false,"hidden":false}]